body
{
    background-image: url(../imgs/rayos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Syne Mono", monospace !important;
    text-align: center !important;
}

.titulo h1, .titulo h2
{
    color: black !important;
    text-align: center;
}

#tituloDios
{
    color: white !important;
    text-align: center;
    font-family: "Syne Mono", monospace !important;;
}

#btnAleatorio 
{
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #006436, #2200ff);
  color: ghostwhite;
  overflow: hidden;
  margin: 20px auto;
  display: block;
}

#btnAleatorio svg 
{
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

#btnAleatorio span 
{
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

#btnAleatorio::before,
#btnAleatorio::after 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#btnAleatorio::before 
{
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

#btnAleatorio:hover::before 
{
  transform: translate3d(100%, 0, 0);
}

#btnAleatorio:active 
{
  transform: scale(0.95);
}

/*POP UP*/
#popup
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: white;
    background: rgba(0, 0, 0, 0.258);
}

.btn-close
{
    filter: invert(1);
}

.popup-dioses
{
    background-color: rgba(0, 0, 0, 0.579);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 10px 10px 10px black;
    font-family: "Instrument Serif", serif;
    font-size: 20px;

}

#popup.mostrar
{
    opacity: 1;
    transform: translateY(0);
}         

.oculto
{
    display: none !important;      
}

#contenedorMapa
{
    width: 100%;
    max-width: 500px;
    margin: 1em auto 0;
}

#contenedorMapa svg
{
    width: 100%;
    height: auto;
    display: block;
}

#world-map path
{
    fill: #cccccc;
    stroke: #ffffff;
    stroke-width: 0.5;
    transition: fill 0.4s ease;
}

#world-map .iluminado,
#world-map .iluminado path
{
    fill: #8e2de2;
}

/*RESOLUCIONES*/
@media (max-width: 600px) 
{
    #popup
    {
        padding: 40px 0;
        align-items: flex-start;
    }

    .popup-dioses 
    {
        width: 90%;
        max-width: 300px;
        padding: 15px;
        border-radius: 10px;
        margin-top: 100px;
        
    }

    #imagenDios
    {
        width: 100%;
        max-width: 270px;
        height: auto;
        margin: 10px auto;
    }

    h2.popup-titulo 
    {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    #textoDios
    {
        font-size: .9rem;
    }
}